*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/caches/build_file_checksums.ser
/.idea/compiler.xml
/.idea/gradle.xml
/gradle/wrapper/gradle-wrapper.jar
/gradlew
/gradlew.bat
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
